<div id="<%= dom_id pattern %>">
  <div class="card">
    <div class="card-body">
      <!-- <%= truncate(strip_tags(pattern.body.to_plain_text), length: 256) %>-->
      <%= pattern.body %>
    </div>
    <div class="card-footer text-muted">
      <%= link_to "View", pattern_path(pattern) %>
    </div>
  </div>
</div>
