<% if policy(:pattern).new? %>
  <%= link_to "New pattern", new_pattern_path, class: "btn btn-primary my-3" %>
<% end %>

<div id="patterns">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @patterns.each do |pattern| %>
      <div class="col">
        <%= render "patterns/pattern_small", pattern: pattern %>
      </div>
    <% end %>
  </div>
</div>


